<p>
	<b>Tournament:</b> <%= @tournament.name %>
</p>

<p>
  <b>Date:</b> 
  <%= @tournament.date %>
</p>

<p>
  <b>Ranks:</b> 
  <%= rank_range_for(@tournament) %>
</p>

<p>
  <b>Events:</b>
  <% @tournament.current_events.each do |e| %>
    <%= link_to e.name, section_path(e.current_section(@tournament.id)) %>
  <% end %>
</p>

<p>
  <b>Age:</b> 
  <% if @tournament.current_sections.empty? %>
    <p>No sections at this time</p>
  <% else %>
    <%= age_range_for(@tournament) %>
  <% end %>
</p>

<p>
  <b>Active:</b> <%= @tournament.active ? "Yes" : "No" %>
</p>