
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
  			<th>Street</th>
        <th>City</th>
        <% if current_user != nil && current_user.is_admin %>
          <th>Members</th>
        <% end %>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @dojos.each do |dojo| %>
        <tr>
          <td><%= link_to dojo.name, dojo_path(dojo) %>
          </td>
          <td><%= link_to dojo.street, dojo_path(dojo) %>
          </td>
          <td><%= link_to dojo.city_state, dojo_path(dojo) %>
          </td>
          <% if current_user != nil && current_user.is_admin %>
            <td>
              <ul style="list-style: none;">
                <% dojo.current_students.each do |s| %>
                  <li>
                  <%= link_to s.name_rank, student_path(s.id) %>
                  </li>
                <% end %>
              </ul>
            </td>
          <% end %>
          
  				<td>
  					<%= link_to raw("<i class='icon-file'></i> Details"), dojo_path(dojo), :class => 'btn btn-mini' %>
            <% if current_user != nil && current_user.is_admin %>
              <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_dojo_path(dojo), :class => 'btn btn-mini' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @dojos %>
    </div>
    <%= will_paginate @dojos, :container => true, :previous_label => "Previous", :next_label => "Next", :inner_window => 2 %>
  </div>
