<p>
  <b>Dojo:</b> <%= @dojo.name %>
</p>

<p>
  <b>Street:</b> 
  <%= @dojo.street %>
</p>

<p>
  <b>City:</b> 
  <%= @dojo.city_state + " " + @dojo.zip %>
</p>

<% if @user && (@user.is_admin? || @user.is_member?) %>
  <p>
    <b>Current Members:</b> 
    <ul>
  	  <% @dojo.current_students.each do |s| %>
  	  	<li>
  		<%= s.name + " - " + s.string_rank %>
  		</li>
  	  <% end %>
  	</ul>
  </p>
<% end %>

<p>
  <b>Active:</b> <%= @dojo.active ? "Yes" : "No" %>
</p>

<%= image_tag @dojo.create_map_link %>